* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header-section {
    background-image: linear-gradient(to right, purple, purple);
    position: sticky;
    top: 0;
    z-index: 10;

}

.logo-img {
    width: 150px;
    margin-left: 30px;
}

.navbar-nav li a {
    color: #fff !important;
    text-decoration: none;
    margin: 0 10px;
}

.nav-item {
    text-align: right;
}

.navbar-toggler {
    color: none;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler i {
    color: #fff;
    font-size: 30px;
}

/* -------------banner section--------------- */
#banner {
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.709), purple);
    color: #fff !important;
    padding-top: 5%;
}

.play-img {
    width: 50px;
    margin: 20px;
}

#banner a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.banner-img {
    width: 100%;
}

.banner-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 80px;
}

.wave1-img {
    width: 100%;
}

/* -----------services section----------------------- */
#services {
    padding-top: 100px;
}

.serivces {
   padding: 50px 0;
}

.services-img {
    width: 80px;
    margin: 20px 0;
}

.title {
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
}

.title::before {
    content: '';
    width: 100%;
    max-width: 200px;
    height: 4px;
    background: purple;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -11px;


}

.title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: purple;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.services-btn {
    background-color: purple !important;
    border: none !important;
    outline: none !important;
    padding: 8px 25px !important;
    margin-top: 20px !important;
    border-radius: 20px !important;
    display: inline-block;
    width: 130px;
    margin: auto;

}

/* -----------about-us------------------- */
#about-us {
    background-color: rgb(210, 211, 211);
    padding: 100px 0;
}

.about-title {
    font-weight: 600;
    margin: 50px 0 0 30px;
}

#about-us ul li {
    margin: 10px 0;
}

#about-us ul {
    margin-left: 20px;
}

/* ---------------testimonials----------------- */
#testimonials {
    padding-top: 100px;
}

.users {
    width: 60px;
    border-radius: 50%;
}

.user-info {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;

}

.testimonials {
    margin: 50px 0 !important;
    border-left: 5px solid purple;
    padding: 20px;

}

/* ----------------social-media----------------------- */
#social-media {
    padding: 80px 0;
}

.media-para {
    font-size: 35px;
    font-weight: 500;
}

.social-icon img {
    width: 60px;
    transition: 0.5s;
}

.social-icon img:hover {
    transform: translateY(-10px);
}

/* -----------------------footer-section--------------------------- */
#contact-us {
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.709), purple);
    color: #fff;
    padding-bottom: 40px;
}

.footer-wave {
    width: 100%;
}

.email-input {
    padding: 10px;
    width: 100%;
    max-width: 350px;
    border: none;
    outline: none;
    border-radius: 10px;

}

.email-btn {
    display: block !important;
    margin-top: 20px !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.709), purple);
    box-shadow: 1px 1px 2px purple;
}

.footer-img img {
    margin: 20px 0;
}

.contact-details {
    margin: 20px 0;
}

/* ============Media Query for small Screen=============== */

@media (max-width:576px) {
    .logo-img {
        width: 100px;
        margin-left: 10px;
    }

    .navbar-toggler i {
        font-size: 20px !important;
    }

    .about-title {
        margin-top: 50px;
    }
}